body {
  background-color: rgb(216, 216, 216);
}

#top-selector {
    margin-top: 20px;
    margin-bottom: 20px;
}

#bottom-selector {
    margin-bottom: 20px;
}

.selector-text {
    display: inline-block;
    width: 140px;
}

.add-button {
    width: 80px;
}

#top-stage {
  position: absolute;
  width: 600px;
  transform-origin: left bottom;
  /* z-index: -1; */
}

#bottom-stage {
  position: absolute;
  width: 600px;
  transform-origin: left top;
  /* z-index: -1; */
}

#defaultCanvas0 {
  z-index: -2;
}

#mini-map-container {
  margin-bottom: 5px;
}

#main-container {
  position: relative;
}
