body {
  background-color: rgb(216, 216, 216);
}

#top-selector {
    margin-top: 20px;
    margin-bottom: 20px;
}

#bottom-selector {
    margin-bottom: 20px;
}

.selector-text {
    display: inline-block;
    width: 140px;
}

.add-button {
    width: 80px;
}



#mini-map-container {
  margin-bottom: 5px;
}

#main-container {
  position: relative;
  z-index: 0;
}

#top-stage {
  position: absolute;
  width: 600px;
  transform-origin: left top;
  z-index: -10;
}
  
#bottom-stage {
  position: absolute;
  width: 600px;
  transform-origin: left top;
  z-index: -10;
}

#defaultCanvas0 {
  z-index: 20;
}
  